@model FinalProject.Models.DataAccess.OrderItem

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OrderItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.OrId)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCodeNavigation.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemCodeNavigation.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCodeNavigation.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemCodeNavigation.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCodeNavigation.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemCodeNavigation.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            Cost
        </dt>
        <dd class = "col-sm-10">
            @{
                        string cost = (Model.ItemCodeNavigation.Price * Model.Quantity).GetValueOrDefault().ToString("c");
                    }
            @Html.DisplayFor(model => cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-code="@Model.ItemCode" asp-route-id="@Model.OrderId">Edit</a>|
    <a asp-action="Index">Back to List</a>
</div>
